<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" 
             Name="SSH VPN" 
             Language="1033" 
             Version="1.0.0.0" 
             Manufacturer="SSH VPN Team" 
             UpgradeCode="PUT-GUID-HERE">
        
        <Package InstallerVersion="200" 
                 Compressed="yes" 
                 InstallScope="perMachine" />
        
        <MediaTemplate />
        
        <UIRef Id="WixUI_Minimal" />
        
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="SSH VPN" />
            </Directory>
        </Directory>
        
        <Feature Id="ProductFeature" Title="SSH VPN" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
        
        <Property Id="ARP_UNINSTALLER" Value="1" />
    </Product>
    
    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="MainExecutable">
                <File Id="ssh-vpn.exe" 
                      Source="$(var.ssh-vpn.TargetPath)" 
                      KeyPath="yes" />
            </Component>
            <Component Id="RenciSshNet">
                <File Id="Renci.SshNet.dll" 
                      Source="$(var.ssh-vpn.TargetDir)Renci.SshNet.dll" />
            </Component>
            <Component Id="Config">
                <File Id="App.config" 
                      Source="$(var.ssh-vpn.TargetDir)ssh-vpn.exe.config" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>